.container {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  background: white;
  z-index: 1;
  margin-bottom: 5%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
  height: 30px;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
}

.hidden-navigation {
  visibility: hidden;
}

.navbar li {
  margin-right: 5%;
  font-weight: 600;
}

.navbar li:after {
  display: block;
  content: "";
  border-bottom: solid 3px #483d8b;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.navbar li:hover:after {
  transform: scaleX(1);
}

.mobile-icon-container {
  display: "flex";
  align-items: "center";
}

.mobile-icon {
  visibility: hidden;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

.mobile-dropdown {
  visibility: hidden;
  position: absolute;
  height:0px;
  width: 100%;
  transition: 0.2s ease-out;
  top: 65.6px;
}
.mobile-dropdown-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  width: auto;
}

.mobile-dropdown-nav li {
  margin-right: 5%;
  margin-bottom:5%;
  font-weight: 600;
}


.mobile-dropdown-active {
  visibility: visible;
  position: absolute;
  width: 100%;
  height:auto;
  background-color: white;
  top: 65.6px;
  z-index: -1;
  border-top: 2px solid #483d8b;
  transition: 0.2s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo {
  width: 70px;
  background-color: #483d8b;
  border-radius: 20px;
  color: white;
  font-weight: 900px;
  padding: 6px;
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
  transition: 0.2s;
}

.logo:hover {
  transform: translateY(-10px);
  transition: 0.2s;
}

.sword-icon {
  font-size: 30px;
}

/*---Animations---*/

@keyframes dropdownHeight {
  from {
    height: 0px;
  }

  to {
    height: 300px;
  }
}

/*--Media Queries-*/

@media only screen and (max-width: 768px) {
  .navbar {
    visibility: hidden;
  }
  .mobile-icon {
    visibility: visible;
  }
  .sword-icon {
    font-size: 20px;
    padding: 2px;
  }
  .logo {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-dropdown-active {
    visibility: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .row {
    height:50px;
  }
}
