.skills-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.skills-row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.skills-column {
  width: 400px;
  height: 500px;
  background-color:'blue';
  margin: 3%;
}
