.skills-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 8%;
  scroll-behavior: smooth;
}

.skills-row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.skills-column {
  width: 400px;
  height: 520px;
  background-color: "blue";
  margin: 3%;
}

.skill-card {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.skill-text {
  font-weight: 600;
}

.skill-icon {
  font-size: 2.5em;
  margin-top: 2%;
  padding: 2%;
  color:white;
}

.skill-header {
  width:100%;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  background-color:#483d8b;
}

.language-icon {
  font-size: 2.5em;
  margin: 12px;
  color: #483d8b;
}
